{
  "presets": ["react-native"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ".",
      "alias": {
        "$app": ".", // if app files is inside "app/" folder, replace with "./app"
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    }]
  ]
}
